:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --background-color: #c7bfbf;
    --visited-link: rgb(117, 41, 117);
    --border-bottom: #000000;
    --button-color: #6676cd;
    --secondary-text-color: white;
    --third-text-color: #000000;
  }

.header_title {
    /* no spacing to top and bottom and auto spacing to left and right, which centers the container horizontally */
    margin: 0 auto;
}

body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:hover, a:focus {/* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {/* visited link */
  color: var(--visited-link);
}

a:active {/* selected link */
  color: var(--primary-color);
}

button, .button {/* overwrites browser defaults and resets the broder */
  border: none;
  font-family: inherit;/* styles the background color, font color, and tex decor of the button*/
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  text-decoration: none;/* adds spacing to the button a battom border with a width od 2px, a type of solid, and a color in RGBA format */
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-bottom);
  transition: opacity 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;/* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-color);
    color: var(--third-text-color);
}

.navigation-list__item--active {
    text-decoration: none;
}

div {
    padding: 10px; /* adds a 10px inner spacing to all sides */
    margin: 10px; /* adds a 10px outer spacing to all sides */
    border: none /* attributes describe: thickness, type, color */
}

.aboutsection {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.profile__portrait {
    float: left;
    height: auto;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}



#imglogo {
    height: auto;
    width: 250px;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--background-color);
    width: auto;
    min-height: auto;
    margin: 0;
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px
    }
    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }
}

@keyframes sun  {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}

@keyframes sun-set {
    from {
        transform: translate(2433.2px, -600.77px);
      }
      to {
        transform: translate(2433.2px, -500px);
      }
    }

@keyframes color-change2 {
    from {
        fill: #eaed55;
        opacity: 100%;
    }
    to {
        fill: #111e38;
        opacity: 50%;
    }
}

#path6619 {
   animation: 10s sun-set infinite alternate linear;
}

#svg3541 {
    animation: 10s color-change2 infinite alternate linear;
}
